@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
  --font-playfair: 'Playfair Display', serif;
}

body {
  @apply bg-secondary text-primary font-sans antialiased;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-serif;
}
